# Editors
.idea
.vscode

# Built by sconsUtils
version.py

# Pytest
tests/.tests
pytest_session.txt
.cache/
.mypy_cache
.ruff_cache
.pytest_cache
.coverage

# Python cache
__pycache__/

# pypi files
*.egg-info/

.pre-commit-config.yaml
.flake8
.isort.cfg
.mypy.ini
.ruff.toml
